.listings {
	margin-left: 10px;
	margin-right: 10px;
	color: cornflowerblue
}

header, footer {
    background: #1170B4;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.post-preview {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}