body {
	background: #1170B4;
}

.listings {
	padding: 2rem;
	margin-left: 30px;
	margin-right: 30px;
	background: #1170B4;
}

header, footer {
    background: #1170B4;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.post-preview {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}